:root{
  --primary-color:rgb(255, 255, 255);
}
.fs16{
  font-size: 16px;
}

.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.size {
  font-size: 100px;
  padding: 20px;
  cursor: pointer;
}
.RightBar22dropdown {
  margin: 20px;
  cursor: pointer;
}
/* Modal */

.modalInputs input {
  margin: 20px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.create {
  margin: 20px;
  padding: 10px;
  border-radius: 120px;
  cursor: pointer;
  background: "linear-gradient(75deg, #00E39F, #00C4E1)"
}
.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
  }

.create:hover{
  background-color :"grey";
}




/* navbar */


.navbar span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.rigthBar22navbar {
  width: 100%;
  cursor: pointer;
}

.displayData {
  cursor: pointer;
  justify-content: "center";
  display:"flex";
}

.displayName_23_hoverAdded:hover {
  /* background-color:rgb(141, 141, 134); */
  cursor: pointer;
}


body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* //.sidebar */
.lb11openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

/* Lefbar */
#lb11keywords{
  display: "flex";
  justify-content: space-around;
  margin-top: "30px";
}

/* right */
/* .rb22backAndBread{
  display: "flex";
  justify-content:"space-around"
} */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* # Tablet */

/* # Desktop */

@media screen and (min-width: 900px) {
  .size {
    font-size: 100px;

    cursor: pointer;
  }
  .RightBar22searchBar {
    height: "50px";
    width: "130px";
  }
  .folderDiv33size {
    font-size: 100px;
    margin-left: "20px";
    cursor: pointer;
  }
  .Rightbar22QueryImages {
    width: "140px";
    height: "140px";
    margin: "10px";
    border-radius: "15px";
  }

}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .size {
    font-size: 80px;

    cursor: pointer;
  }
  .folderDiv33size {
    font-size: 80px;
    margin-left: "20px";
    cursor: pointer;
  }
  .Rightbar22QueryImages {
    width: "150px";
    height: "150px";
    margin: "20px";
    border-radius: "15px";
  }

}

@media screen and (max-width: 320px) {
  .left {
    width: 20%;
  }

  .size {
    font-size: 70px;

    cursor: pointer;
  }
  #mySidebar {
    width: 100%;
    z-index: 2;
  }
  .RightBar22searchBar {
    height: "50px";
    width: "150px";
  }
  .folderDiv33size {
    font-size: 70px;
    margin-left: "20px";
    cursor: pointer;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .Rightbar22QueryImages {
    width: "100px";
    height: "100px";
    margin: "20px";
    border-radius: "15px";
  }
  #mySidebar{
    width: "200px";
  }

}
